 @keyframes TransitionIn{
      from{
        opacity: 0;
        transform: rotateX(-20deg);
      }
      to{
        opacity: 1;
        transform: rotateX(0deg);
      }
    }

    body {
      height:fit-content;
      border: 1.489vw solid rgb(255, 255, 255);
      animation: TransitionIn 2s;
      margin:0%;
      transition: color 711ms ease, background 711ms ease;      
    }
        
    a:link {
      color: #4267B2;
    }
    a:visited {
      color: #4267B2;}

    a:hover {
      color: #4267B2;
    }
    a:active {
      color: #4267B2;
    }

    p{
      font-family: 'Georgia';
      color: rgb(226, 222, 222);
      text-align: left;
      margin-top: 2.978vw;
      margin-left: 9.531vw;
      margin-right: 9.531vw;
      font-weight: bold;
    }
    
    .p1{font-weight: bold;
      font-family: 'Georgia';
      font-size: 5.361vw;
      margin-bottom: 1.191vw;
    }
    
    .p2{
      font-size: 4.051vw;
      margin-top: 0vw;
    }
    .p3{
      font-size: 2.383vw;
      margin-bottom: 0.357vw ;
    }
    .img-arrow{
      margin-left: 9.2rem;  
      margin-top: 0rem;
      height: 7.4376875rem;
      width: 4.5628125rem;
      transform: rotate(5deg);
      margin-bottom: 0rem;
    }
    .p4{font-family: 'Georgia';
      font-size: 0.9rem;
      margin-left: 13.875rem;
      margin-top: 0rem;
      margin-bottom: 2rem;
    }
    .p5{
      font-size: 1.1rem;
      margin-left: 1rem;
      max-block-size: 20rem;
      color: #242424;
    }
    .p5:hover{font-size: 1.1rem;
      margin-left: 1rem;
      max-block-size: 20rem;
      color: rgb(226, 222, 222);
    }

    .name{
        color: #E0610E;
        cursor: auto;
    }
    .name:hover{
        color: #4267B2;
        cursor: pointer;
    }

    .int{
        color: #4267B2;
        cursor: auto;
    }
    .int:hover{
        color: #E0610E;
        cursor: pointer;
    }

    .photo{
        color: #4267B2;
        cursor: auto;
    }
    .photo:hover{
        color: #007769;
        cursor: pointer;
    }
    
    .link{font-weight: bold;
        color: #4267B2;
        cursor: auto;
    }
    .link:hover{font-weight: bold;
        color: #ff8b3d7a;
        cursor: pointer;
    }

    .p6{ font-weight: bold;
      font-family: 'Arial black';
      color: #4267B2;
      font-size: 3.3rem;
    }
    .p6:hover{font-weight: bold;
      font-family: 'Arial black';
      color: #242424;
      font-size: 3.3rem;
      background-color: #FFFF00
    }
    .img-quote{
      height: 30vw;
      width: 30vw;
    }

    div{
      margin-top: 0vw;
      margin-right: 8.34vw;
      margin-left: 8.34vw;
      margin-bottom: 2.978vw;
    }
